* {
  margin: 0;
  padding: 0;
}
.headerTop {
  margin-top: 20px;
}

.socialIcons {
  display: block;
  float: right;
  margin-top: -50px;
}
.socialIcons2 {
  display: block;
  margin-top: 50px;
}

.socialIcons li {
  list-style-type: none;
  text-decoration: none;
  float: left;
  padding-right: 20px;
}
.socialIcons li i {
  font-size: 25px;
  color: #2d5f2e;
}
.socialIcons2 li {
  list-style-type: none;
  text-decoration: none;
  float: left;
  padding-right: 20px;
}
.socialIcons2 li i {
  font-size: 25px;
  color: #2d5f2e;
}

.customButtonTop {
  border: solid 2px #2d5f2e;
  border-radius: 4px;
  background-color: white;
  color: #2d5f2e;
  padding: 4px 14px;
  margin-right: 10px;
}

.customButtonTop:hover {
  background-color: #2d5f2e;
  color: white;
  transition-duration: 0.5s;
}

.headerBottom {
  display: block;
  height: 50px;
  width: 100%;
  background-color: #2d5f2e;
  margin-top: 20px;
}
.navbar-brand {
  display: none;
}
.navigationMenu {
  width: 100%;
}
.navbar {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 40px;
  background-color: #2d5f2e;
}
.nav-link {
  color: white;
}
/* footer css starts here  */
.footer {
  background-color: #2d5f2e;
  color: white;
  padding: 60px 0 0 0;
}
.footerTR {
  height: 40px;
}
.footerTitle {
  margin-top: 20px;
  padding-bottom: 20px;
}
.footerbottom {
  background-color: #1a4a1b;
  padding: 2px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .socialIcons {
    display: none;
  }
  .checkbtn {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .navbar-brand {
    display: block;
  }
}
